<script type="text/javascript" defer>

    function sideInnit (child) {
        const sidebar = document.getElementById("sideMenu");
        sidebar.appendChild(child);
    }

    document.addEventListener("DOMContentLoaded", function (){
        const postit = document.createElement("div"),
        secrets = ["minerals", "exodus", "moon", "detonate", "berry", "morons", "warheads"];
        postit.classList.add("postit");
        secretSelector = Math.floor(Math.random()*secrets.length);
        postit.textContent = secrets[secretSelector];
        postit.setAttribute("onclick", "")
        sideInnit(postit);
    })
</script>
